<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

  <label for="gbifId" class="form-label">
    Gbif id <span class="required">(requis)</span>
  </label><br />
  <f:form.textfield class="form-control" property="gbifId" id="gbifId" /><br />

  <div id="selected_species"><i>{observation.species.genus} {observation.species.species}</i> {observation.species.author}</div>
  <f:form.textfield class="form-control" id="autocomplete_species" placeholder="Chercher l'espèce..."/>
  <f:form.hidden class="form-control" property="species" id="species" /><br />
</html>